fastapi==0.116.1
langchain-openai==0.3.31
langsmith==0.4.16
prometheus-client==0.22.1
prometheus-fastapi-instrumentator==7.1.0
pydantic==2.11.7
pydantic-settings==2.10.1
python-dotenv==1.1.1
uvicorn==0.35.0